@use "variable";

@mixin flex($align, $alignItems, $direction, $wrap, $justify, $justifyItems) {
  align-content: $align;
  align-items: $alignItems;
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  justify-items: $justifyItems;
}

@mixin card() {
  border-radius: 25px;
  box-shadow:
    -10px -10px 25px variable.$primaryColor,
    10px 10px 25px variable.$secondaryColor;
  padding: 10px;
}

@mixin display() {
  border: none;
  border-radius: 15px;
  box-shadow:
    -10px -10px 25px variable.$primaryColor inset,
    10px 10px 25px variable.$secondaryColor inset;
  color: variable.$fontPrimaryColor;
  outline: none;
  overflow: auto;
  padding: 10px;
  word-break: break-all;
}

@mixin button($backgroundColor, $color) {
  background-color: $backgroundColor;
  border: none;
  border-radius: 15px;
  color: $color;
  cursor: pointer;
  box-shadow:
    -10px -10px 25px variable.$primaryColor,
    10px 10px 25px variable.$secondaryColor;
  outline: none;
  padding: 10px;
}
